# --- SECTION EXISTANTE (Python & IA) ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
App/venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/

lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Les modèles sont versionnés via Git LFS (PAS ignorés)
# models/*

# MLflow
mlartifacts/

# --- NOUVELLE SECTION : FRONTEND (React/Vite) ---
node_modules/
.vite/
# Bloque les builds de production
dist/
# Bloque les fichiers de log npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- LOGS, OS & IDE ---
logs/
*.log
.env
.env.local
.env.dev
.env.prod
.env.*.local
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
desktop.ini
.ipynb_checkpoints
*.tmp
*.temp
.cache/
secrets/
*.key
*.pem
uploads/

